
wk1/martinez_albert_madlib.zip

wk2/uml_diagram/uml_diagram.xlsx

wk2/uml_diagram/martinez_albert_UML.zip

wk2/uml_diagram/~$uml_diagram.xlsx

dpw/~*.zip

dpw/~*.mov

wk3/videos/ReusableLibraries-pt1.mov

wk3/videos/ReusableLibraries-pt5.mov

wk3/videos/ReusableLibraries-pt4.mov

wk3/videos/ReusableLibraries-pt3.mov

wk3/videos/ReusableLibraries-pt2.mov

wk3/reusable_library/ReusableLibraries-*.mov

*.pyc

*.pyc
