
wk1/martinez_albert_madlib.zip

wk2/uml_diagram/uml_diagram.xlsx

wk2/uml_diagram/martinez_albert_UML.zip

wk2/uml_diagram/~$uml_diagram.xlsx

dpw/~*.zip

dpw/~*.mov

wk3/videos/ReusableLibraries-pt1_60c51f7f-0e3c-4402-9526-b0c078a87dbc.mov

wk3/videos/ReusableLibraries-pt5_4e101b9b-83f7-474a-98c5-aba3c0108bfb.mov

wk3/videos/ReusableLibraries-pt4_dbec7e2a-3e8d-4b84-8393-9db5cdcee0f7.mov

wk3/videos/ReusableLibraries-pt3_1fa2a7f6-7f88-4851-88ce-902aabd4c141.mov

wk3/videos/ReusableLibraries-pt2_48a46949-61e1-4073-94f5-c81fb26fb37f.mov

wk3/reusable_library/ReusableLibraries-pt1_60c51f7f-0e3c-4402-9526-b0c078a87dbc.mov

wk3/reusable_library/ReusableLibraries-pt1_60c51f7f-0e3c-4402-9526-b0c078a87dbc.mov

wk3/reusable_library/ReusableLibraries-pt1_60c51f7f-0e3c-4402-9526-b0c078a87dbc.mov
