/*____________________________________________

////////////////////////     RESET

/*----------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, ::after, ::before {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Acme', "Source Sans Pro", "Roboto", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
}

/* HTML5 - Older browser support
======================================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
div {
    display: block;
}

/* BOLD
======================================== */

b,
strong {
    font-weight: bold;
}


/* BASE FONT (to use the metric-type system
============================================ */

html {
    font-size: 62.5%;
}

body {
    font: normal normal 1em/1.5 "Source Sans Pro", sans-serif;
}

body {
    font-size: 1.6rem;
}

/* LISTS
======================================== */

ol,
ul {
    list-style: none;
    list-style-type: none;
}

@media (max-width: 600px) {
    nav li a {
        display: block;
    }
}

/* IMAGES - remove gap beteen img and container bttm
===================================================== */

img {
    max-width: 100%;
    vertical-align: middle;
}

/* HORIZONTAL RULE
======================================== */

hr {
    box-sizing: border-box;
    display: block;
    height: 1px;
    border-top: 1px solid #ccc;
    margin: 1.6rem auto;
    padding: 0;
}

/*____________________________________________

////////////////////////     PAGE STYLES

/*----------------------*/

html {
    width: 100%
    min-height: 100%;
}

body {
    width: 100%;
    background-image: url('../img/lightpaperfibers.png');
    /*background-size:cover;*/
    background-repeat:repeat;
    box-sizing: border-box;
    font: normal normal 100%/1.5 'Acme', sans-serif;
    padding: 5px 2%;
    margin: auto;
}

#wrapper {
    width: 90%;
    margin: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.details {
    display: block;
    width: 100%;
    box-sizing: border-box;
    max-width: 960px;
    margin: auto;
    padding: 15px 30px;
    -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255.0 .5);
    -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255.0 .5);
    box-shadow: inset 0 0 1px rgba(255, 255, 255.0 .5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

header,
footer {
    padding: 0.5em 0;
    background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Acme', sans-serif;
    margin: 1rem 0;
    text-transform: uppercase;
}

h1 {
    font-size: 2rem;
    text-align: left;
    font-weight: 700;
    letter-spacing: normal;
}

h2 {
    color: rgba(68, 46, 44, 0.92);
    font-weight: 100;
    font-size: 4rem;
    line-height: 1;
}

h3 {
    color: rgba(255, 66, 0, 0.76);
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
    color: rgb(135, 125, 136);
    color: rgba(135, 125, 136, 1);
}

nav, nav ul, nav ul, li a:link{
    display: block;
    font-size: 3rem;
}
div.stats, #Aang-stats, #Katara-stats, #Sokka-stats, #Toph-stats, #Zuko-stats {
    font-size: 1.8rem;
    box-sizing: border-box;
    width: 100%;
    border-radius: 6px;
    border: inset dotted rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
}
#Aang-stats {
    background-color: #F29559;
}
#Katara-stats {
    background-color: #4f97c7;
}

#Sokka-stats {
    background-color: #3b4693;
}
#Toph-stats {
    background-color: #aba718;
}
#Zuko-stats {
    background-color: #4f0917;
}
.stats span {
    color: rgba(68, 46, 44, 0.92);
}
#Zuko-stats .stats span {
    color: coral;
}
p.stats {
    color: cornsilk;
}

div.img {
    max-width: 100%;
    margin: 50px;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    padding: 5px; 15px;
    line-height: 1.5;
    font-size: 1.6rem;
    margin-right: 10px 0;
}

@media (min-width: 530px) {
    html {
        background: url('img/aabg.jpgg') repeat center top;
    }
    ul li {
        display: inline-block;
    }
    .character-image {
        max-height: 100px;
        max-width: 100%;
        margin: 50px auto;
    }

    #Aang-stats, #Katara-stats, #Sokka-stats, #Toph-stats, #Zuko-stats, div.character-imaage {
        display: block;
        z-index: 0;
    }

    img {
        max-width: 100%;
    }

    nav li {
        display: inline-block;
        padding: 5px;
        15px;
        line-height: 1.5;
        font-size: 1.6rem;
    }
}
